:root {
  --color-bg: rgb(255, 255, 255);
  --color-text: rgb(10, 20, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: rgb(38, 40, 38);
    --color-text: rgb(200, 195, 190);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-bg);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family: "Segoe UI", sans-serif;
  text-rendering: optimizeLegibility;
}
